body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 420px;
  height: 200px;
  background: #fff;
  margin: 16px auto;
  padding-top: 10px;
}

.title {
  background: #e3f4ff; 
  font-size: 16px;
  padding: 5px;
}

.content {
  background: #e3f4ff;
  height: 65px;
  align-content: center;
  font-size: 16px;

  
}

.button-container {
  background: #e3f4ff;
  height: 68px;
  align-content: center;
  text-align: center; 
  align-items: center;


}

button {
  background: white;
  border: 1px solid #eee;
  height: 30px;
 /* text-align: center; */
  display: block;
  margin: 0 auto;
}

.content,
.title,
.button-container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  padding-left: 8px;
}